.global-conteiner {
  margin: 30px 50px 30px 50px;
  width: 1000px;
  background-color: rgb(176, 230, 211);
}
.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-left: 50px;
  margin-bottom: 20px;
}
.list-of-part {
  font-family: unset;
  font-size: 20px;
  margin-left: 60px;
  margin-bottom: 20px;
}
.name-biathletes {
  font-family: unset;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 15px;
}
.biathletes-img {
  width: 300px;
  height: 400px;
  border: solid blue 2px;
  margin: 20px 10px 20px 50px;
}
.content {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  margin: 10px 20px 10px 50px;
}
.block {
  border: solid rgb(7, 49, 49) 5px;
  margin: 5px 10px 20px 10px;
  padding-bottom: 20px;
  background-color: rgb(136, 207, 178);
}
.back-to-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  margin: 5px 10px 10px 60px;
}
